.navbar {
    padding: 1rem;
}
.nav-item {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: bold;
}
.style {
    padding: 50px 90px 50px 90px;
    justify-content: center;
    background-image:no-repeat;
    width: 50%;
    margin: 0 auto;
    background-color: gray;

}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;}
.encabezado {
        display: flex;
        background-color: gray;
        width: 100%;
        border-style: double;
        align-items: center;
    }
.imagen1 {
    display: flex;
    background-image: url(../desp/pica2.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 50%;
    padding-top: 5px;
}
.titulo {
    background-color:gray;
    padding-left: 5em;
    
   


}
.container h1 {
    background-position: center;
    width: 85%;  
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    margin: auto;
    color: beige;
}

.main {
    display: flex;
    padding: 2px;
    float: left;
}
   .principal{
    background-position: center;
    background-color: gray;
    width: 750px;
    height: 450px;
    color: blanchedalmond;
    font-size: 35px;
    font-family: serif;
    text-align: center;
    margin-left: 3px;
    margin-top: 15px;
    margin-right: 3px;
    border-style: double; 
    font-weight: bold;
}
.aside {
    display: grid;
    float: left;

}

.imagen2 {
    background-image: url(../desp/quesos.jpg);
    background-repeat: no-repeat;
    margin-left: 3em;
    margin-top: 15px;
    margin-right: 3px;
}

.imagen3 {
    background-image: url(../desp/delivery.jpg);
    background-repeat: no-repeat;
    margin-left: 3em;
    margin-top: 15px;
    margin-right: 3px;

}
.footer {
   color: black;
   font-size: 25px;
   font-family: Arial, Helvetica, sans-serif;
   background-color: gray;
   border-style: double;
   text-align: center;
}

